In [1]:
import pandas as pd

In [11]:
# Especifica la ruta del archivos
data_aceites = 'data/data_aceites.csv'
uptimes = 'data/uptime.csv'
archivo_feathers = 'data/data_sensores.feather'

# Carga el archivos
archivo_feather = pd.read_feather(archivo_feathers)
data_aceite = pd.read_csv(data_aceites, sep= ";")
uptime = pd.read_csv(uptimes)

In [12]:
data_aceite.head()

,Unnamed: 0,Tag de compartimento,Fecha Muestreo,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_33,feature_34,feature_35,feature_36,feature_37,feature_38,feature_39,feature_40,feature_41,feature_42
0,8963,compartimento_1,2022-01-01 00:00:00,18.28,NaN,2.0,0.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,4.66,0,NaN,NaN,NaN
1,8964,compartimento_2,2022-01-01 00:00:00,18.40,NaN,1.0,0.0,2.0,1.0,0.0,...,58.03,NaN,10.0,3.0,0.0,4.64,0,NaN,NaN,NaN
2,9034,compartimento_1,2022-01-03 00:00:00,18.47,NaN,1.0,0.0,2.0,2.0,0.0,...,18.00,NaN,5.0,0.0,0.0,4.64,0,NaN,NaN,NaN
3,9035,compartimento_2,2022-01-03 00:00:00,18.45,NaN,2.0,0.0,3.0,2.0,0.0,...,8.00,NaN,1.0,0.0,0.0,4.64,0,NaN,NaN,NaN
4,9069,compartimento_1,2022-01-08 00:00:00,18.30,NaN,1.0,0.0,2.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,4.68,0,NaN,NaN,NaN

In [9]:
uptime.head()

   Unnamed: 0      FECHA DE INICIO          FECHA FINAL    TIEMPO
0           0  2022-04-09 18:11:00  2022-04-09 18:36:00  0.416667
1           1  2022-04-16 02:59:00  2022-04-16 03:11:00  0.200000
2           2  2022-04-16 03:17:00  2022-04-16 03:46:00  0.483333
3           3  2022-04-16 05:26:00  2022-04-16 05:39:00  0.216667
4           4  2022-04-16 06:01:00  2022-04-16 06:30:00  0.483333

In [13]:
archivo_feather.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_305,feature_306,feature_307,feature_308,feature_309,feature_310,feature_311,feature_312,feature_313,fecha
0,9.94,9.1,0.0,0.0,0.0,0.0,0.0,0.0,3.95,4.25,...,2034.67,15626936.0,134963.95,5.79,4.73,4.31,10.23,59.09,1.36,2022-01-01 00:00:00
1,9.94,9.1,0.0,0.0,0.0,0.0,0.0,0.0,3.95,4.25,...,2034.69,15626938.0,134964.94,5.79,4.73,4.31,10.23,59.09,1.36,2022-01-01 00:01:00
2,9.94,9.1,0.0,0.0,0.0,0.0,0.0,0.0,3.95,4.25,...,2034.70,15626940.0,134965.91,5.79,4.73,4.31,10.23,59.09,1.36,2022-01-01 00:02:00
3,9.94,9.1,0.0,0.0,0.0,0.0,0.0,0.0,3.95,4.25,...,2034.71,15626942.0,134966.89,5.79,4.73,4.31,10.23,59.08,1.36,2022-01-01 00:03:00
4,9.94,9.1,0.0,0.0,0.0,0.0,0.0,0.0,3.95,4.25,...,2034.73,15626944.0,134967.88,5.79,4.73,4.31,10.23,59.08,1.36,2022-01-01 00:04:00